<nav class="c-category" role="navigation">
    <ul class="c-category__list">
        <li class="c-category__item"><a class="c-category__link" href="/essays">Essays</a></li>
        <li class="c-category__item"><a class="c-category__link" href="/web-development">Web Development</a></li>
        <li class="c-category__item"><a class="c-category__link" href="/categorisation-research">Categorisation Research</a>
        </li>
        <li class="c-category__item"><a class="c-category__link" href="/stories">Stories</a></li>
        <li class="c-category__item"><a class="c-category__link" href="/about.html">About</a></li>
    </ul>
</nav>
